--- 
http_interactions: 
- request: 
    method: get
    uri: http://www.nla.gov.au/apps/srw/search/peopleaustralia?operation=explain&version=1.2
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml;charset=ISO-8859-1
    body: 
      string: |
        <?xml version="1.0" encoding="UTF-8" ?> 
        <?xml-stylesheet type="text/xsl" href="../explainResponse.xsl"?>
        <SRW:explainResponse xmlns:SRW="http://www.loc.gov/zing/srw/">
          <SRW:version>1.1</SRW:version>
          <SRW:record>
            <SRW:recordSchema>http://explain.z3950.org/dtd/2.0/</SRW:recordSchema>
            <SRW:recordPacking>xml</SRW:recordPacking>
            <SRW:recordData>
              <explain authoritative="true" xmlns="http://explain.z3950.org/dtd/2.0/">
                <serverInfo protocol="SRW/U">
                  <host>www.nla.gov.au</host>
                  <port>80</port>
                  <database>apps/srw/search/peopleaustralia</database>
                  </serverInfo>
                <databaseInfo>
                  <title>Trove People and Organisations</title>
                  <description>Records stored in the Trove People and Organisations repository </description>
                  <author>http://trove.nla.gov.au/people</author>
                  <contact>Simon Jacob (mailto:sjacob@nla.gov.au)</contact>
                  <implementation version='1.1' indentifier='http://www.oclc.org/research/software/srw'>
                    <title>OCLC Research SRW Server version 1.1</title>
                    </implementation>
                  </databaseInfo>
                <metaInfo>
                  </metaInfo>
                <indexInfo>
                  <set identifier="null" name="pa"/>
                  <index>
                    <title>pa.birthplace</title>
                    <map>
                      <name set="pa">birthplace</name>
                      </map>
                    </index>
                  <index>
                    <title>pa.deathdecade</title>
                    <map>
                      <name set="pa">deathdecade</name>
                      </map>
                    </index>
                  <set identifier="null" name="bath"/>
                  <index>
                    <title>bath.possessingInstitution</title>
                    <map>
                      <name se[...]
- request: 
    method: get
    uri: http://www.nla.gov.au/apps/srw/search/peopleaustralia?maximumRecords=10&operation=searchRetrieve&query=pa.surname%20any%20twain&recordSchema=dc&version=1.1
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml;charset=UTF-8
    body: 
      string: |-
        <?xml version="1.0" encoding="UTF-8" ?> 
        <searchRetrieveResponse xmlns="http://www.loc.gov/zing/srw/"><version>1.1</version><numberOfRecords>0</numberOfRecords><echoedSearchRetrieveRequest xmlns:ns1="http://www.loc.gov/zing/srw/"><version>1.1</version><query>pa.surname any twain</query><xQuery><ns2:searchClause xmlns:ns2="http://www.loc.gov/zing/cql/xcql/"><ns2:index>pa.surname</ns2:index><ns2:relation><ns2:value>any</ns2:value></ns2:relation><ns2:term>twain</ns2:term></ns2:searchClause></xQuery><maximumRecords>10</maximumRecords><recordSchema>dc</recordSchema></echoedSearchRetrieveRequest><diagnostics xmlns:ns3="http://www.loc.gov/zing/srw/"><ns4:diagnostic xmlns:ns4="http://www.loc.gov/zing/srw/diagnostic/"><ns4:uri>info:srw/diagnostic/1/66</ns4:uri><ns4:details>dc is not supported.</ns4:details></ns4:diagnostic></diagnostics></searchRetrieveResponse>
  recorded_at: Thu, 09 Aug 2012 03:00:36 GMT
recorded_with: VCR 2.2.4
