---
http_interactions:
- request:
    method: get
    uri: http://www.nla.gov.au/apps/srw/search/peopleaustralia?operation=explain&version=1.2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" ?> \n<?xml-stylesheet type=\"text/xsl\"
        href=\"../explainResponse.xsl\"?>\n<SRW:explainResponse xmlns:SRW=\"http://www.loc.gov/zing/srw/\">\n
        \ <SRW:version>1.1</SRW:version>\n  <SRW:record>\n    <SRW:recordSchema>http://explain.z3950.org/dtd/2.0/</SRW:recordSchema>\n
        \   <SRW:recordPacking>xml</SRW:recordPacking>\n    <SRW:recordData>\n      <explain
        authoritative=\"true\" xmlns=\"http://explain.z3950.org/dtd/2.0/\">\n        <serverInfo
        protocol=\"SRW/U\">\n          <host>www.nla.gov.au</host>\n          <port>80</port>\n
        \         <database>apps/srw/search/peopleaustralia</database>\n          </serverInfo>\n
        \       <databaseInfo>\n          <title>Trove People and Organisations</title>\n
        \         <description>Records stored in the Trove People and Organisations
        repository </description>\n          <author>http://trove.nla.gov.au/people</author>\n
        \         <contact>Simon Jacob (mailto:sjacob@nla.gov.au)</contact>\n          <implementation
        version='1.1' indentifier='http://www.oclc.org/research/software/srw'>\n            <title>OCLC
        Research SRW Server version 1.1</title>\n            </implementation>\n          </databaseInfo>\n
        \       <metaInfo>\n          </metaInfo>\n        <indexInfo>\n          <set
        identifier=\"null\" name=\"pa\"/>\n          <index>\n            <title>pa.birthplace</title>\n
        \           <map>\n              <name set=\"pa\">birthplace</name>\n              </map>\n
        \           </index>\n          <index>\n            <title>pa.deathdecade</title>\n
        \           <map>\n              <name set=\"pa\">deathdecade</name>\n              </map>\n
        \           </index>\n          <set identifier=\"null\" name=\"bath\"/>\n
        \         <index>\n            <title>bath.possessingInstitution</title>\n
        \           <map>\n              <name set=\"bath\">possessingInstitution</name>\n
        \             </map>\n            </index>\n          <index>\n            <title>pa.existencedate</title>\n
        \           <map>\n              <name set=\"pa\">existencedate</name>\n              </map>\n
        \           </index>\n          <index>\n            <title>[...]
